@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fff;
  --foreground: #000;
  --muted: #fff;
  --border: #eaeaea;
  --accent: #111;
}

:root[class~="dark"] {
  --background: #000;
  --foreground: #fff;
  --muted: #111;
  --border: #333;
  --accent: #fff;
}

@theme inline {
  --color-muted: var(--muted);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-accent: var(--accent);
}

body {
  background-size: 30px 30px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.02) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  font-family: "Lexend", sans-serif;
  transition: all 0.2s ease-in-out;
  color: var(--foreground);
}

.dark body {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.02) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-color: #000000;
}

@keyframes fadeInUpAnimation {
  0% {
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.bento-card {
  background: var(--muted);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--border);
}

.animate-fade-in {
  opacity: 0;
  animation: fadeInUpAnimation 0.6s ease-out forwards;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}
